<% provide(:title, 'Contact') %>
    <h1>Contact Us</h1>
    <p>
      Contact me on my <a href="https://www.facebook.com/marco.gaiazzi">Facebook page</a> or email me at: <a href="mailto:marco.gaiazzi.ggl@gmail.com">marco.gaiazzi.ggl@gmail.com</a>
    </p>
