<div class="center hero-unit">

  <h3>Search and review novels or upload your own!</h3>
  <div><%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %></div>
  <h5>Or check our <%= link_to "Contact", contact_path %> page for more informations!</h5>
</div>