<div class="row">
    <aside class="span4">
      <section class="alignleftclass">
        <%= render 'shared/user_info' %>
      </section>
    </aside>

      <div class="pull-right">
        <%= link_to "New Book", new_book_path, class: "btn btn-large btn-primary" %>
      </div>
</div>