<footer class="footer">
  <small>
   <div>Autore: <a href="mailto:marco.gaiazzi.ggl@gmail.com">Marco Gaiazzi</a> 713906 </div>
   <div>Appello: Gennaio 2014 </div>

  </small>
  <nav>
    <ul>
      <li><%= link_to "Documentation",   doc_path %></li>
    </ul>
  </nav>
</footer>